---
layout: blank
title: Testimonials
---

<!-- <div class="jumbotron db-jumbotron-img" style="background-image: url({{ site.url }}/files/callie-on-mountain_400k.jpg)">
		<h1><span>Testimonials</span></h1>
</div> -->

<div class="container">
	 
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header text-center">Testimonials</h1>
		</div>
	</div>

	
	<div class="row">

		{% for patient in site.data.testimonials %}
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div class="thumbnail testimonial">
				{% if patient.photo %}
				<img src="{{ site.url }}/files/testimonial-photos/{{ patient.photo }}" alt="">
				{% endif %}
				<div class="caption">
					<h3>{{ patient.name }}</h3>
					<p>{{ patient.exerpt }}</p>
					<p><a class="testimonial-readmore-link" href="{{ site.url }}/testimonials/{{ patient.fulltext }}.html">Read More</a></p>
				</div>
			</div>
		</div>
		{% endfor %}
		
	</div>

</div> <!-- container -->



<!-- TEMPLATE

	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="thumbnail testimonial">
			<div class="caption">
				<h3></h3>
				<p></p>
				<p><a class="testimonial-readmore-link" href="{{ site.url }}/testimonials/testimonials-.html">Read More</a></p>
			</div>
		</div>
	</div>

 -->







<!-- <div class="panel panel-default"> -->
  <!-- <div class="panel-body"> -->
    <!-- This page is under construction. Please check back again soon. -->
  <!-- </div> -->
<!-- </div> -->

<!-- <div class="jumbotron db-jumbotron-img" style="background-image: url({{ site.url }}/files/callie-on-mountain_400k.jpg)"></div> -->